  <appSettings>

    <add key="FacebookAppId" value="126888951210958" />
    <add key="FacebookAppSecret" value="c573724b74bffea30454516a82b2fbb9" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
